body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}
.navbar {
    width: 100%;
    position: fixed;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
                
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
   
}
.logo {
    cursor: pointer;
    color:  #fff;
    letter-spacing: -1px;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 5rem;
   margin-top: .5rem;
}
.menu-items {
    display: flex;
    align-items: center;
}
.menu-items li {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-radius: 20px;
    margin-left: -100px;
  
}
.menu-items li:hover {
    transform: scale(1.1);
    background-color:teal;
    transition: all 300ms ease-in-out;
}
.menu-items li a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    
   
}
.menu-items li a:hover {
    color: lightyellow;
    transition: color 300ms ease-in-out;
}
.menu-items li a.active{
    color:rgb(116, 139, 139);
    text-shadow: #171717;
    text-decoration: underline;  
}

.header {
    background-image: linear-gradient(rgb(190, 242, 187, 0.6), rgb(23, 99, 18,0.9)), url('/Frontend/images/aboutback.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 100px 50px;
    

}
.header h1{
    font-size: 100px;
    text-align: center;
    color: #fff;
    
}

.content {
    text-align: center;
    padding: 20px;
    background: radial-gradient(rgb(190, 242, 187), rgb(23, 99, 18));
}

.team-section {
    margin-top: 50px;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    margin: 15px;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    margin-top: 20px;
}


/* Footer styling */
footer {
    background-color: black;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.col {
    padding: 20px;
    margin: 20px;
    color: #fff;
}

.col img {
    width: 100px;
}

.col h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.col p {
    margin-bottom: 10px;
}

.follow {
    padding: 20px;
    margin: 20px;
    color: #fff;
}

.icon img {
    width: 30px;
    margin-right: 10px;
}

